<div id="mainCont">
        <div class="col-12 p-3 bg-info row">
            <div class="col-3"></div>
            <h3 class="col-3"> Dashboard </h3>
        
        </div>
        <div id="cardContainer">
            <div id="blogCard">
                <div id="cardTitle">
        
                </div>
                <div id="cardBody">
                    <input type="textarea" id="blogContent">
                </div>
                <button type="button" id="editBtn">Edit</button>
                <button type="button" id="deleteBtn"> Delete </button>
            </div>
        </div>
    </div>