       <div class="col-12 p-3 bg-info row">
            <div class="col-3"></div>
            <h3 class="col-3"> Welcome back! </h3>       
    </header>
        </div>
        <div id="sUpCont" class="col-12 row m-12">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form>
                    <h5>User Name:</h5>
                    <input id="name-signup" name="username" type="text" required></br></br>
                    <h5>Password:</h5>
                    <input id="password-signup" name="password" type="password" required>
                    <button type="submit" id="joinBtn" class="btn btn-outline-success"> Sign in! </button> </br> </br>
                    <button type="button" id="signUpInstead" class="btn btn-outline-secondary"> Sign up instead!</button>
                </form>
            </div>
        </div>
    