        <div class="col-lg-12 p-3 bg-info row">
            <div class="col-lg-3"></div>
            <h3 class="col-lg-3"> See you next time!</h3>
        </div>
    </header>
    <div class="row col-12">
        <div class="col-3"></div>
        <button type="button" class="btn btn-warning col-2 m-4" id="logInFromLogout">Log back in</button>
    </div>